
@import url('https://fonts.googleapis.com/css?family=Dosis|Nanum+Gothic');

.container{
    width: 80%;
    margin: 1px auto;
}
*{
    /* border: 1px rebeccapurple solid; */
}
.tmiddle{
    text-align: center;
}
.imgcenter{
    margin: 0 auto;
    width: 100%;
}
.container2{
    width: 90%;
    margin: 1px auto;

}
.text{
    font-size: 22px;
    font-family: 'Dosis', sans-serif;
}
.header{
    font-size: 40px;
    font-family: nanum gothic;
}
body{
    font-size: 22px;
    font-family: 'Dosis', sans-serif;

}